@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
  text-align: center;
  font-family: 'Open Sans';

}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px
}
h3 {
  font-size: 25px
}

.container {
  width: 600px;
  height: 600px;
  background-color: #1C7C79 ;
  margin: auto;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

.introScreen {
  width: 95%;
  height: 95%;
  background-color: #001011;
  border-radius: inherit;
  margin: auto;
  color: #FBFFF2;
  display: none;
}

#playTileX {
  width: 150px;
  height: 150px;
  background-color: #757780;
  display: inline-block;
  border-radius: 20px;
  margin: 10px;
  line-height: 150px;
  font-size: 100px;
  margin: auto;
  margin-top: 20px;
}

#playTileO {
  width: 150px;
  height: 150px;
  background-color: #757780;
  display: inline-block;
  border-radius: 20px;
  margin: 10px;
  line-height: 150px;
  font-size: 100px;
  margin: auto;
  margin-left: 20px
}

.tile  {
  width: 30%;
  height: 30%;
  background-color: #001011;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 10px;
  line-height: 160px;
  display: none;
}


span {
  width: 100%;
  height: 100%;
  font-size: 150px;
  margin: auto;
  color: #757780;
  margin-top: auto;
}

.o {
  color: #FBFFF2;
  font-size: 150px;
  line-height: 150px;
}

.x {
  color: #757780;
  font-size: 150px;
  line-height: 150px;
}


.disclaimer {
  margin: auto;
  margin-top: 100px;
}
